.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em;
}

.topicos__titulo{
    color: var(--branco);
    font-weight: 500;
    margin-bottom: 1em;
}
.topicos__lista{
    display:flex;
    justify-content: center;
}
